.logo{

    height: 50px;
    width: 137px;
    opacity: 100%;
    margin-top: 20px;
    margin-left: 20px;
    text-shadow: 3px 3px;
    }
body{
	background-image:url(Images/sample2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

